<div class="jumbotron">
  <h1>Boddy Mass Index Calculator</h1>
  <p class="lead">To use this app you need to first login or register.</p>
  <a class="btn btn-lg btn-primary" href="<%= dashboard_path %>" role="button">Test the App</a>
</div>
