<div class="container">
  <div class="row text-secondary">
    <div class="col-md-12">
      <div class="d-flex justify-content-center my-5">
        <a>
          <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <a>
          <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <a>
          <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bg-secondary text-white text-center py-3">
  BMI Calculator App<%= icon('fas', 'building fa-lg', class: 'mx-2') %>© 2019-2020
</div>

